fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.9.0
xgboost==2.0.3
joblib==1.5.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
boto3==1.35.90
redis==5.2.1
pika==1.3.2